**/node_modules
**/.DS_Store
node_modules
cookies.txt
config.js
coverage
dist
**/.vite

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.nyc_output
